.container-documentation::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../img/тесты.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
section.container-documentation {
    max-width: 848px;
    margin: 0 auto;
    margin-top: 48px;
}

.block-all-documentation{
    display: flex;
    gap: 16px;
    margin-top: 24px;

}

.container-documentation-btn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-add{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 0;
    background: #31D9AF;
    border: 1px solid #31d9af;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}
.button-test{
    margin-bottom: 20px;
}

.btn-add:hover{
    opacity: 0.8;
}
.btn-add:active{
    opacity: 0.5;
}

.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.5;
}

.container-list-btn {
    display: flex;
    min-width: 192px;
    background: #2432;
    padding: 8px 0;
    justify-content: center;
    border-radius: 3px;
}

.btn-download {
    display: flex;
    gap: 10px;
}

ul.documentation-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li.documentation-list-item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 32px 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 584px;
}

li.documentation-list-item .title{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;

}

li.documentation-list-item .description{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
